[package]
name = "spackle"
version = "0.1.0"
edition = "2021"

[workspace]
members = ["cli"]

[dependencies]
async-process = "2.2.3"
colored = "2.1.0"
futures = "0.3.30"
getrandom = { version = "0.2.15", features = ["js"] }
serde = { version = "1.0.202", features = ["derive"] }
strum_macros = "0.26.2"
tempdir = "0.3.7"
tera = "1.19.1"
tokio-stream = "0.1.15"
toml = "0.8.13"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
walkdir = "2.5.0"
