[package]
name = "spackle"
version = "0.4.1"
edition = "2021"
repository = "https://github.com/a2-ai/spackle"
description = "A frictionless project templating tool."

[workspace]
members = ["cli"]

[dependencies]
async-process = "2.2.3"
async-stream = "0.3.5"
colored = "2.1.0"
fronma = { version = "0.2.0", features = ["toml"] }
getrandom = { version = "0.2.15", features = ["js"] }
polyjuice = { git = "https://github.com/a2-ai/polyjuice" }
serde = { version = "1.0.202", features = ["derive"] }
strum_macros = "0.26.2"
tempdir = "0.3.7"
tera = "1.19.1"
thiserror = "1.0.64"
tokio = { version = "1.38.0", features = ["macros", "rt", "rt-multi-thread"] }
tokio-stream = "0.1.15"
toml = "0.8.13"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
users = "0.11.0"
walkdir = "2.5.0"

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"
