name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache rust
        uses: Swatinem/rust-cache@v2

      - name: Test
        run: cargo test
