name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache rust
        uses: Swatinem/rust-cache@v2

      - name: Grant access to private repository
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: |
            ${{ secrets.POLYJUICE_DEPLOY_KEY }}

      - name: Test
        run: cargo test
